footer{
    background-color: $color-footer;
    color: #FFFFFF;
    padding: 25px 25px 40px;
    ul{
        list-style: none;
        font-size: 0.9em;
        font-weight: 300;
    }
    li{
        @include flexbox(row, unset, center, unset);
        padding: 4px 0px;
    }
    .footer-icon{
        font-size: 0.8em;
        padding-right: 12px;
    }
}