html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: unset;
}

.block-page {
  width: 100%;
}

@font-face {
  font-family: "shrikhand";
  src: url("./fonts/shrikhand/shrikhand-regular-webfont.eot");
  src: url("./fonts/shrikhand/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("./fonts/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("./fonts/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("./fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("./fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("./fonts/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 7px;
}

h1, h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 3px;
}

h4 {
  font-family: "shrikhand";
  font-size: 1.1em;
  padding-bottom: 15px;
}

button {
  font-size: 1em;
  font-weight: 500;
  margin: 25px;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: #FFFFFF;
  padding: 0px 20px;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.2);
}
button:hover {
  background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.3);
}
@media all and (min-width: 1200px) {
  button {
    cursor: pointer;
  }
}

.heart {
  padding: 10px;
}

.heart-icon {
  font-size: 1.7em;
  cursor: pointer;
  transform: scale(0.75, 0.85);
}
.heart-icon-empty {
  position: absolute;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.heart-icon-empty:active, .heart-icon-empty:hover {
  opacity: 0;
}
.heart-icon-empty:active + .heart-icon-full::after, .heart-icon-empty:hover + .heart-icon-full::after {
  transform: translateY(-100%);
}
.heart-icon-full {
  position: relative;
  z-index: 1;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  overflow: hidden;
}
.heart-icon-full::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background: #FFFFFF;
  border-radius: 25%;
  transform: translateY(0);
  transition: transform 1.5s ease-out;
}

.menu-heading .heart-icon-empty, .menu-heading .heart-icon-full::after {
  background: #F6F6F6;
}

.loading {
  position: fixed;
  z-index: 3;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: unset;
  animation: fadeout 5s forwards;
}
.loading-img {
  width: 400px;
  position: relative;
  margin-top: -100px;
}
.loading-ball--1 {
  background-color: #9356DC;
  animation: ball 3s ease 0s 1 normal forwards;
  position: absolute;
  bottom: 325px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  animation-delay: 400ms;
  margin-left: 55px;
}
.loading-ball--2 {
  background-color: #FF79DA;
  animation: ball 3s ease 0s 1 normal forwards;
  position: absolute;
  bottom: 325px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  animation-delay: 800ms;
  margin-left: 0px;
}
.loading-ball--3 {
  background-color: #99E2D0;
  animation: ball 3s ease 0s 1 normal forwards;
  position: absolute;
  bottom: 325px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  animation-delay: 1200ms;
  margin-left: -55px;
}

@keyframes ball {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeout {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  flex-wrap: unset;
  padding: 22px 0 12px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
header img {
  height: 28px;
}
header .header-icon {
  font-size: 1.2em;
  position: absolute;
  left: 23px;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 25px 25px 40px;
  position: relative;
}
footer ul {
  list-style: none;
  font-size: 0.9em;
  font-weight: 300;
}
footer li {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  flex-wrap: unset;
  padding: 4px 0px;
}
footer .footer-icon {
  font-size: 0.8em;
}
footer .couvert {
  position: absolute;
  bottom: 130px;
}
footer .handshake {
  position: absolute;
  bottom: 100px;
}
footer .footer-offset {
  margin-left: 25px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: unset;
  background-color: #EAEAEA;
  padding: 10px;
}
.search .icon {
  color: #000000b7;
  margin-right: 15px;
}
.search .text {
  border: none;
  background-color: #EAEAEA;
  font-weight: 700;
  font-size: 1em;
  width: 130px;
  height: 30px;
}
.search ::placeholder {
  color: #000000b7;
  opacity: 1;
  padding-left: 5px;
}

.local-header {
  padding: 30px 40px;
  background-color: #F6F6F6;
  text-align: center;
}
.local-header p {
  font-weight: 300;
  margin: 6px;
}

.functioning {
  padding: 55px 21px;
}
@media all and (min-width: 760px) {
  .functioning {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    flex-wrap: unset;
  }
}
.functioning-box {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  flex-wrap: unset;
}
@media all and (min-width: 760px) {
  .functioning-box {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    flex-wrap: unset;
  }
}
.functioning-case {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  flex-wrap: unset;
  border-radius: 20px;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
  background-color: #F6F6F6;
  width: 100%;
  height: 72px;
  margin: 12px;
  position: relative;
  z-index: 1;
}
.functioning-case:hover::after {
  opacity: 1;
}
.functioning-case:hover .functioning-icons {
  color: #9356DC;
}
.functioning-case::after {
  content: "";
  position: absolute;
  background-color: #f2eafb;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms;
}
@media all and (min-width: 1200px) {
  .functioning-case {
    cursor: pointer;
  }
}
.functioning-nbr {
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 40px;
  color: #FFFFFF;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: -10px;
  font-size: 0.9em;
}
.functioning-icons {
  margin: 0px 20px 0px 35px;
  color: #737373;
}
.functioning-text {
  font-weight: 700;
  margin: 0px 5px;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 55px 21px;
}
@media all and (min-width: 760px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    flex-wrap: unset;
  }
}
.restaurants .allcards {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  flex-wrap: unset;
}
@media all and (min-width: 760px) {
  .restaurants .allcards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
    flex-wrap: wrap;
  }
}
.restaurants .cards {
  border-radius: 20px;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  flex: auto;
  position: relative;
  margin: 9px 0px;
}
@media all and (min-width: 760px) {
  .restaurants .cards {
    flex: none;
  }
}
@media all and (min-width: 1200px) {
  .restaurants .cards {
    margin: 9px 50px;
  }
}
.restaurants .cards img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
  object-position: 100% 63%;
}
.restaurants .cards .new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: unset;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #278870;
  width: 80px;
  height: 30px;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  font-weight: 700;
  border-radius: 3px;
}
.restaurants .cards-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: unset;
  padding: 0px;
  margin: -10px;
}
.restaurants .cards-text {
  padding-left: 25px;
  margin-top: 15px;
}
.restaurants .cards p {
  margin-top: 0px;
}
.restaurants .cards-icons {
  padding: 35px;
}

.pictures-menu {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 35px 35px 0px 0px;
  margin-top: -50px;
  position: relative;
}
.menu-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: unset;
  padding: 25px 25px 15px 18px;
}
.menu h1 {
  font-family: "shrikhand";
  font-size: 1.6em;
  letter-spacing: 1px;
}
.menu-content {
  padding: 15px;
  animation: menu-appears ease-in-out 800ms forwards;
  opacity: 0;
}
.menu-content--1 {
  animation-delay: 400ms;
}
.menu-content--2 {
  animation-delay: 800ms;
}
.menu-content--3 {
  animation-delay: 1200ms;
}
.menu h2 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 5px;
  margin-bottom: 5px;
}
.menu .bottombar {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-left: 5px;
  margin-bottom: 15px;
}
.menu-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  border-radius: 20px;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  height: 70px;
  margin: 15px 0px;
  overflow: hidden;
}
.menu-card:active .menu-card-check, .menu-card:hover .menu-card-check {
  width: 60px;
  transform: translateX(0);
}
.menu-card:active .menu-card-icon, .menu-card:hover .menu-card-icon {
  transform: rotate(1turn);
  opacity: 1;
}
@media all and (min-width: 1200px) {
  .menu-card {
    cursor: pointer;
  }
}
.menu .price {
  font-weight: 700;
  margin: 15px 20px 15px 0px;
}
.menu .menu-card-text {
  margin: 15px 12px;
  flex: 1;
  overflow: hidden;
}
.menu h3 {
  font-size: 1em;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu p {
  font-size: 0.9em;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .menu-card-check {
  background-color: #99E2D0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: unset;
  width: 0;
  height: 100%;
  transition: all 400ms ease-in-out;
  transform: translateX(100%);
}
.menu .menu-card-icon {
  color: #FFFFFF;
  font-size: 20px;
  transition: all 400ms 100ms ease-in-out;
  opacity: 0;
}

.btn {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: unset;
  flex-wrap: unset;
  padding-bottom: 35px;
  margin-top: -15px;
}

@keyframes menu-appears {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
