// RECHERCHE
.search{
    @include flexbox(row, center, baseline, unset);
    background-color: $grey-search;
    padding: 10px;
    .icon{
        color: #000000b7;
        margin-right: 15px;
    }
    .text{
        border: none;
        background-color: $grey-search;
        font-weight: 700;
        font-size: 1em;
        width: 130px;
        height: 30px;
    }
    ::placeholder{
        color: #000000b7;
        opacity: 1;
        padding-left: 5px;

    }
}
.local-header{
    padding: 30px 40px;
    background-color: $grey-dominant;
    text-align: center;
    p{
        font-weight: 300;
        margin: 6px;
    }
}
// FONCTIONNEMENT
.functioning{
    padding: 55px 21px;
    @include tablet{
        @include flexbox(column, unset, center, unset);
    }
    &-box{
    @include flexbox(column, unset, center, unset);
    @include tablet{
        @include flexbox(row, unset, center, unset);
        }
    }
    &-case{
        @include flexbox(row, unset, center, unset);
        border-radius: 20px;
        box-shadow: 0px 4px 7px 1px rgb(0, 0, 0, 10%);
        background-color: $grey-dominant;
        width: 100%;
        height: 72px;
        margin: 12px;
        position: relative;
        z-index: 1;
        &:hover{
            &::after{
                opacity: 1;
            }
            .functioning-icons{
                color: $color-primary;
            }
        }
        &::after{
            content: "";
            position: absolute;
            background-color: lighten($color-primary, 35%);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 20px;
            box-shadow: 0px 4px 7px 1px rgb(0, 0, 0, 10%);
            z-index: -1;
            opacity: 0;
            transition: opacity 300ms;
        }
    }
    &-nbr{
        width: 25px;
        height: 25px;
        background-color: $color-primary;
        border-radius: 40px;
        color: #FFFFFF;
        text-align: center;
        line-height: 25px;
        position: absolute;
        left: -10px;
        font-size: 0.9em;
    }
    &-icons{
        margin: 0px 20px 0px 35px;
    }
    &-text{
        font-weight: 700;
        margin: 0px 5px;
    }
}
// RESTAURANTS
.restaurants{
    background-color: $grey-dominant;
    padding: 55px 21px;
    @include tablet{
        @include flexbox(column, unset, center, unset);
    }
    .allcards{
        @include flexbox(column, unset, unset, unset);
        @include tablet{
            @include flexbox(row, space-evenly, unset, wrap);
        }
    }
    .cards{
        border-radius: 20px;
        box-shadow: 0px 4px 7px 1px rgb(0, 0, 0, 10%);
        background-color: #FFFFFF;
        flex: auto;
        position: relative;
        margin: 9px 0px;
        @include tablet{
            flex: none;
        }
        @include desktop{
            margin: 9px 50px;
        }
    }
    .cards img{
        object-fit: cover;
        width: 100%;
        height: 175px;
        border-radius: 20px 20px 0px 0px;
    }
     .cards .new{
        @include flexbox(row, center, center, unset); 
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        width: 80px;
        height: 30px;
        box-shadow: 0px 4px 7px 1px rgb(0, 0, 0, 20%);
        font-size: 0.8em;
        font-weight: 700;
        border-radius: 3px;
    }
    .cards-info{
        @include flexbox(row, space-between, unset, unset);
        padding: 0px;
        margin: -10px;
    }
    .cards-text{
        padding-left: 25px;
        margin-top: 15px;
    }
    .cards p{
        margin-top: 0px;
    }
    .cards-icons{
        padding: 35px;
    }
}