.pictures-menu{
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.menu{
    background-color: $grey-dominant;
    border-radius: 35px 35px 0px 0px;
    margin-top: -50px;
    position: relative;
    &-heading {
        @include flexbox(row, space-between, flex-start, unset);
        padding: 25px 25px 15px 18px;
    }
    h1{
        font-family: "shrikhand";
        font-size: 1.6em;
        letter-spacing: 1px;
    }
    &-content{
        padding: 15px;
        animation: menu-appears ease-in-out 800ms forwards;
        opacity: 0;
        @for $i from 1 through 3{
            &--#{$i} {
                animation-delay: 400ms * $i;
            }
        }
    }
    h2{
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 400;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .bottombar{
        width: 40px;
        height: 3px;
        background-color: $color-tertiary;
        margin-left: 5px;
        margin-bottom: 15px;
    }
    &-card{
        @include flexbox(row, flex-start, flex-end, nowrap);
        border-radius: 20px;
        box-shadow: 0px 4px 7px 1px rgb(0, 0, 0, 10%);
        background-color: #FFFFFF;
        height: 70px;
        margin: 15px 0px;
        overflow: hidden;
        &:active .menu-card-check, &:hover .menu-card-check{
            width: 60px;
            transform: translateX(0);
        }
        &:active .menu-card-icon,  &:hover .menu-card-icon {
            transform: rotate(1turn);
            opacity:1;
        }
        @include desktop{
            cursor: pointer;
        }
    }
    .price{
        font-weight: 700;
        margin: 15px 20px 15px 0px;
    }
    .menu-card-text{
        margin: 15px 12px;
        flex: 1;
        overflow: hidden;
    }
    h3{
        font-size: 1em;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
    p{
        font-size: 0.9em;
        font-weight: 300;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
    .menu-card-check{ 
        background-color: $color-tertiary;
        @include flexbox(row, center, center, unset);
        width: 0;
        height: 100%;
        transition: all 400ms ease-in-out;
        transform: translateX(100%);
    }
    .menu-card-icon {
        color: #FFFFFF;
        font-size: 20px;
        transition: all 400ms 100ms ease-in-out;
        opacity:0;
    }
}
.btn{
    @include flexbox(unset, center, unset, unset);
    padding-bottom: 35px;
    margin-top: -15px;
    
}
@keyframes menu-appears{
  0%
  {
    opacity: 0;
    transform: translateY(30px);
  }
  100%
  {
      opacity: 1;
  }
}