//couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;
$grey-dominant: #F6F6F6;
$grey-search: #EAEAEA;
$icons-color:#737373;

//responsiv
$breakpoints: (tablet:760px, desktop:1200px);